.Rproj.user
.Rhistory
.RData
.Ruserdata
201700901_GMDS_GlobalRankNoninferiority.11.vrb
201700901_GMDS_GlobalRankNoninferiority.12.vrb
201700901_GMDS_GlobalRankNoninferiority.13.vrb
201700901_GMDS_GlobalRankNoninferiority.14.vrb
201700901_GMDS_GlobalRankNoninferiority.log
201700901_GMDS_GlobalRankNoninferiority.nav
201700901_GMDS_GlobalRankNoninferiority.snm
201700901_GMDS_GlobalRankNoninferiority.synctex.gz
201700901_GMDS_GlobalRankNoninferiority.toc
figure
